<p-toast position="top-right" key="emailResponse"></p-toast>
<h1> Contact with me!</h1>
<hr>

<form [formGroup]="myForm" (ngSubmit)="sendEmail()" class="mb-5">

  <!-- Name -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{name}}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [placeholder]="namePlaceHolder" formControlName="name">
      <span class="form-text text-danger" error-msg [valid]="hasError('name')">
      </span>
    </div>
  </div>

  <!-- Email -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{email}}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [placeholder]="emailPlaceHolder" formControlName="email">
      <span class="form-text text-danger" error-msg [msg]="emailErrorMsg" [valid]="hasError('email')">
      </span>
    </div>
  </div>

  <!-- Subject -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{subject}}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [placeholder]="subjectPlaceHolder" formControlName="subject">
      <span class="form-text text-danger" error-msg [valid]="hasError('subject')">
      </span>
    </div>
  </div>

  <!-- Message -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{message}}</label>
    <div class="col-sm-9">
      <textarea pInputTextarea class="form-control" [placeholder]="messagePlaceHolder" [autoResize]=true
                formControlName="message"></textarea>
      <span class="form-text text-danger" error-msg [valid]="hasError('message')">
      </span>
    </div>
  </div>
<!--  <p-captcha siteKey="YOUR_SITE_KEY" (onResponse)="showResponse($event)" initCallback="loadCaptcha"></p-captcha>-->
  <button pButton type="submit" class="p-button-raised p-button-rounded float-end mb-5 "
          [label]="textButton" [disabled]="myForm.invalid" >
  </button>
</form>

<p-dialog [modal]="true" [draggable]="false" [closable]="false" [visible]="loading">
  <p-progressSpinner></p-progressSpinner>
</p-dialog>
