<div class="d-flex mt-5">
  <div class="d-flex flex-column mt-5">
    <div class="d-flex flex-row justify-content-center">
      <p-image src="./assets/ImatgeCarnet_Lluny.jpg" alt="profileImage" width="250" [preview]="true" styleClass="avatarImage"></p-image>
    </div>
    <div class="d-flex flex-row justify-content-center mt-5">
      <p class="about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut fringilla elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lorem sit amet elementum sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vel magna et leo accumsan tincidunt vehicula at odio. Nulla ornare est sed augue maximus auctor. Aliquam at nisl dolor. Duis at purus risus. Phasellus eu mi arcu. Fusce dui tortor, aliquam at consectetur non, posuere sed ligula.

        Phasellus venenatis, massa non malesuada pulvinar, urna elit fringilla orci, eget tempus est dolor id urna. Vivamus in erat in tortor laoreet lobortis. Integer cursus faucibus pellentesque. Morbi elementum ex diam, porttitor accumsan lacus imperdiet condimentum. Maecenas non leo viverra, facilisis massa ut, malesuada leo. Duis viverra auctor massa et venenatis. Sed euismod, tellus quis condimentum blandit, augue ipsum tristique diam, sed porttitor ipsum libero id dolor. Suspendisse velit erat, rutrum ac sapien eget, dignissim interdum dui.

        Suspendisse eget augue sed dui laoreet congue. Etiam eget dolor id quam ultrices bibendum. Aliquam auctor risus non ligula sollicitudin convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi feugiat, augue id ullamcorper tempus, nisi est facilisis libero, sed sagittis leo neque quis erat. Maecenas ut ultrices ex. Vivamus ex lectus, sodales nec magna quis, sollicitudin accumsan augue. Maecenas ac ipsum est. Aenean ligula dui, tincidunt id pellentesque ut, viverra at neque. Integer tempor sodales nisl, ac varius diam gravida eget. Mauris eu lectus et dolor euismod fringilla ac quis eros.

        Integer ultrices accumsan volutpat. Curabitur pretium elementum odio, sed pellentesque orci faucibus ac. Nunc mi turpis, ornare in pellentesque ac, molestie quis ligula. Pellentesque nec ullamcorper augue, id accumsan libero. Suspendisse tortor tellus, tempus eu ex sit amet, sodales viverra sapien. Donec leo odio, egestas rutrum condimentum at, mollis maximus mauris. Donec pulvinar mi at lorem ullamcorper, ut varius eros aliquet. Sed quis turpis neque. Integer in sodales lacus. Sed tincidunt eu tellus non ultricies. Donec egestas feugiat viverra.

        Fusce dolor purus, eleifend ac orci sit amet, iaculis ultricies orci. Aenean vel sapien euismod, congue lacus id, ullamcorper lectus. Curabitur gravida justo venenatis quam lacinia, vitae condimentum nisi fringilla. Mauris massa ante, tempus in dui in, rutrum pharetra elit. Sed malesuada nunc mi, sit amet scelerisque leo aliquet a. Praesent eget ullamcorper ante, ullamcorper sodales turpis. Morbi nec massa posuere, porttitor augue quis, aliquam felis.
      </p>
    </div>
  </div>
</div>
<app-contact></app-contact>



